<!doctype html public "-//W3C//DTD HTML 4.0 //EN">
<html>
<head>
  <title>Login To Student Portal</title>
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div id="content">
  <div id="header">
    <button onclick="window.location.href='https://www.tridenttech.edu/student/life/st_portal.htm';"><img id="back" src="img/go%20back.png" ></button></a>
    <img id="logo" src="img/download.png">
  </div>
  <div id="main">
  <form method="post" action="/registration">
    <fieldset><legend>Register</legend>

      <!--<p><label>Create a username:<input type="text" name="Username" size="30" maxlength="40" id="text" class="username"></label></p>
      <p><label>Create a password:<input type="text" name="Password" size="30" maxlength="40" id="text" class="password"></label></p>-->
      
      <div>
      <label th:text="#{label.user.userName}">Username:</label>
        <input th:field="*{userName}"/>
        <!--Error notification goes here
        <p th:each="error : ${#fields.errors('userName')}"
          th:text="${error}">Error</p> -->
          </div>

          <div>
          <label th:text="#{label.user.password}">Password:</label>
        <input type="password" th:field="*{password}"/>
      <!--  Error notification goes here
      <p th:each="error : ${#fields.errors('password')}"
          th:text="${error}">Error</p> -->
          </div>

          <div>
          <label th:text="#{label.user.confirmPass}">Confirm Password:</label>
        <input type="password" th:field="*{matchingPassword}"/>
        </div>



      <p><input type="submit" value="Create Account" id="login"></p>
    </fieldset>
    </form>
      <p id="link">Have an account? <a href="/login.html" id="link"> Log In</a></p>
  </div>
  <div id="footer">
    <p>:copyright: Trident Technical College</p>
  </div>
</body>
</html>
