#header{
    background-color: grey;
}
#header button{
    margin-left: 35px;
    margin-top: 47px;;
    margin-bottom: 50px;
}
#logo{
    margin-left: 25%;
    margin-right: 25%;
}
#back{
    width: 50px;
    height: 50px;
}
#content{
    background-color: lightgray;
}
#main{
    height: 650px;
    background-color: lightgray;
    
}
body{
    background-color: lightblue
}
.dropdown{
    margin-top: 50px;
    margin-left: 43%;
    margin-right: 43%;
    display: block;
    width: 200px;
    height: 25px;
}
#submit{
    margin-top: 10%;
    /* margin-left: 43%;
    margin-right: 43%; */
    width: 150px;
    height: 50px;
}
#footer{
    background-color: grey;
    height: 50px
}
#footer p{
    margin-left: 45%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}



form{
    border: 1px solid black;
    margin-top: 4.2%; 
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: lightgray;
}
lable{
    margin-left: auto;
    margin-right: auto;
}
#text{
    background-color: palegoldenrod;
}
input{
    
    margin-left: auto;
    margin-right: auto;
}
table{
    scroll-margin-top: 5em;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
#textCourse{
    
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5em;
    padding: 10px;
}
#boxCourse{
    width: 30px;
    border: 2px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}
td{
    background-color: silver;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5em;
}
th{
    background-color: #4A0404;
    color: white;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5em;
    padding: 10px;
}
.taking{
    width: 50px;
    height: 50px;
}
