#header{
    background-color: grey;
}
#header button{
    margin-left: 35px;
    margin-top: 47px;;
    margin-bottom: 50px;
}
#logo{
    margin-left: 28%;
    margin-right: 25%;
}
#back{
    width: 50px;
    height: 50px;
}
#content{
    background-color: lightgray;
}
#main{
    height: 650px;
    background-color: lightgray;
    
}
body{
    background-color: lightblue
}
#dropdown{
    margin-top: 50px;
    margin-left: 43%;
    margin-right: 43%;
    display: block;
    width: 200px;
    height: 25px;
}
#submit{
    margin-top: 150px;
    margin-left: 45%;
    margin-right: 45%;
    width: 150px;
    height: 50px;
}
#footer{
    background-color: grey;
    height: 50px
}
#footer p{
    margin-left: 45%;
}

/* Dropdown Button */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}