#header{
    background-color: grey;
}
#header button{
    margin-top: 5px;
    margin-left: 5px;
}
#logo{
    display: block;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
}
#back{
    width: 50px;
    height: 50px;
}
#content{
    background-color: lightgray;
}
#main{
    height: 400px;
    background-color: lightgray;
    
}
body{
    background-color: lightblue;
}
#dropdown{
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
    height: 25px;
}
.submit{
    display: block;
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 50px;
}
#footer{
    background-color: grey;
    height: 50px
}
#footer p{
    margin-left: 45%;
}
form{
    border: 1px solid black;
    margin-top: 4.2%; 
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    background-color: lightgray;
}
lable{
    margin-left: auto;
    margin-right: auto;
}
#text{
    background-color: palegoldenrod;
}
input{
    
    margin-left: auto;
    margin-right: auto;
}
table{
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}
#textCourse{
    
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5em;
    padding: 10px;
}
#boxCourse{
    width: 30px;
    border: 2px solid black;
    border-collapse: collapse;
    vertical-align: middle;
}
td{
    background-color: silver;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5em;
}
th{
    background-color: #4A0404;
    color: white;
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 1.5em;
    padding: 10px;
}
.taking{
    width: 50px;
    height: 50px;
}